@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  padding: 0 32px;
  margin: 96 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
  margin-left: 0.25em;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

h1 {
  padding-top: 48px;
  font-size: 36px;
  width: 350px;
}
h4 {
  width: 100%;
  text-align: center;
  color: #4a5568;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
}

a {
  text-decoration: none;
}

p {
  margin-top: 16px;
  font-size: 16px;
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

.btn {
  background-color: #6415ff;
  border-radius: 500px;
  width: 120px;
  height: calc(100% / 16px);
  color: #fff;
  font-size: 16px;
  padding: 8px 14px;
}

.btn:hover {
  background-color: #3f0f9e;
  color: white;
  transition: ease 300ms;
}

/* NAV */

#landing {
  width: 100%;
}

nav {
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.row__nav--row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px;
  padding-bottom: 4px;
}

.logo__img {
  height: 40px;
  font-size: 16px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 4px 0;
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-color: #6415ff;
  text-decoration-thickness: 2px;
  width: 100%;
}

.nav__landing {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.nav__heading {
  font-size: 24px;
  color: #243e63;
  font-weight: 900;
  padding-left: 12px;
}

/*

HEADER

*/

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__row {
  padding: 32px;
  display: flex;
  padding: 96px 0;
}

.header__para {
  font-size: 16px;
  margin: 32px 0;
  color: #243e63;
}

.header__img--wrapper {
  padding: 20px;
  min-width: 0;
}

.header__img {
  width: 100%;
  padding-left: 24px;
}

.input__wrapper {
  display: flex;
  border-radius: 999px;
  overflow: hidden;
  border: 2px solid #ccc;
  max-width: 400px;
  width: 100%;
}

.input__wrapper input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  outline: none;
}

.input__wrapper button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 0 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-wrapper button:hover {
  background-color: #5b21b6;
}

.email-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.email-input {
  flex: 1;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
}

.get-started-button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #5b21b6;
}

.customers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.customers__tag {
  width: 100%;
  font-size: 12px;
  margin: 80px 0 8px 0;
  color: #a0aec0;
}

.customer__img {
  margin: 16px 0 0;
  padding: 0 128px 0 0;
  width: 100%;
  height: auto;
  color: #243e63;
}

/*

FEATURES

*/

.features__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
}

.features__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.feature__title {
  text-align: center;
}

.feature__purple {
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
}

section.tag {
  justify-content: center;
}

.section__title {
  font-size: 48px;
  font-size: 48px;
  color: rgb(36, 62, 99);
  font-weight: 900;
}
.feature__h2 {
  font-size: 48px;
}

.feature__para {
  font-size: 18px;
  color: #7c8ba1;
  padding-top: 24px;
  padding-bottom: 48px;
  line-height: 1.625;
  width: 60%;
  margin: 0 auto;
}

.feature__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.feature__list--heading {
  padding-left: 20px;
  padding-bottom: 36px;
}

.feature__list--card {
  flex: 1 1 calc(33.333% - 1rem);
  text-align: left;
  display: flex;
}

.service__img {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.feature__card--heading {
  font-size: 24px;
  display: block;
  padding-left: 10px;
  text-align: left;
}

.img__wrapper {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 50px;
  display: flex;
  max-width: 65px;
  max-height: 65px;
}

/*

WORK

*/

.work__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.work__row {
  padding: 96px 0;
  display: flex;
}

.work__wrapper {
  width: 60%;
}

.work__h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.work__h3 {
  color: #6415ff;
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.work__para {
  padding: 32px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.work__btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

.work__img {
  width: 50%;
  height: 50%;
  padding-left: 48px;
}

/*

STEPS

*/

.steps__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0;
}

.steps__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.steps__img {
  width: 75%;
}

.steps__h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
  width: 300px;
}

.steps__h3 {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.step__list {
  width: 60%;
  text-align: left;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/*

VALUES

*/

#values {
  width: 100%;
  display: flex;
}
.values__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
  display: flex;
}

.values__wrapper {
  width: auto;
  margin: 0 auto;
}

.values__h3 {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.values__h2 {
  font-size: 36px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
  width: 350px;
}

.values__list {
  display: flex;
  width: 100%;
  height: auto;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  align-items: left;
}

.value__header--wrapper_affordable,
.value__header--wrapper_professionalism {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 50px;
  max-width: 55px;
  max-height: 55px;
  display: flex;
  align-items: center;
}

.value__header--wrapper_affordable {
  background-color: #9ae6b4;
}

.value__header--wrapper_professionalism {
  background-color: #feb2b2;
}

.value {
  display: flex;
}

.values__list {
  padding: 48px 0;
}

.value__list--content {
  display: flex;
  flex-direction: column;
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.values__descrp {
  padding: 24px 0;
}

.values__para {
  margin: 0;
  color: #718096;
  font-size: 14px;
  line-height: 1.6;
  padding-left: 12px;
}

.value__header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.list__h3 {
  margin-left: 12px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.values__img {
  width: 100%;
  max-width: 600px;
}

/*
PRICING
*/

.pricing__row {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__header {
  width: 100%;
  display: block;
  text-align: center;
}

.pricing__h3 {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.pricing__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
  text-align: center;
}

.pricing__description {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
  width: 50%;
  margin: 0 auto;
}

.plans {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 40px;
  margin-right: 12px;
}

.plan__personal,
.plan__business,
.plan__enterprise {
  padding: 24px;
  border: 2px solid rgba(172, 163, 163, 0.5);
  margin: 0 12px;
}

.plan__personal {
  border-top: 8px solid rgb(129, 230, 217);
  padding: 1rem;
  width: 100%;
  background: white;
}

.plan__business {
  background: rgb(102, 126, 234);
  color: white;
}

.plan__enterprise {
  border-top: 8px solid rgb(254, 178, 178);
  padding: 1rem;
  width: 100%;
  background: white;
}

.plan__top {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan__name {
  font-weight: bold;
  line-height: 1.625;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: bold;
  line-height: 1.625;
}

.plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__target--business {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
  color: white;
}

.plan__name--business {
  color: white;
  font-weight: bold;
  line-height: 1.625;
}

.plan__price--business {
  color: white;
  font-size: 48px;
  margin: 4px 0;
  font-weight: bold;
  line-height: 1.625;
}

.plan__duration--business {
  color: white;
  font-weight: bold;
  line-height: 1.625;
}

.plan__feature--business {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: 2rem;
  color: #f7fafc;
}

.plan__btn--business {
  padding: 0.75rem 2rem;
  font-weight: 700;

  transition: all 300ms ease;
  width: 200px;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6415ff;
  background-color: white;
  margin-top: 24px;
}

.plan__middle {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: 2rem;
}

.plan__btn {
  background-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: rgb(247 250 252);
  transition: all 300ms ease;
  width: 200px;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 24px;
}

/*
TESTIMONIALS
*/

.testimonial__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial__row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.testimonial__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.testimonials__img {
  flex: 1;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.testimonial__h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
  width: 500px;
  display: flex;
}

.testimonial__h3 {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.testimonial__para {
  display: flex;
  padding: 48px 0;
}

.user__exp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.user__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.testimonial__profile {
  padding: 32px;
  width: 100%;
  height: auto;
  display: flex;
  margin: 0auto;
}

.user__name {
  padding: 0 24px;
  color: #4a5568;
  line-height: 1.625;
  font-size: 1.25rem;
  font-weight: 700;
}

.user__role {
  padding: 0 24px;
  color: #4a5568;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__h4--text {
  color: #4a5568;
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin: 0 auto;
}

.user__stars i {
  color: gold;
  padding: 24px 0;
}

.icon-btn {
  background-color: #edf2f7;
  color: rgb(116, 80, 188);
  padding: 0.6em 0.8em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.2s;
  margin-left: 24px;
}

.icon-btn:hover {
  background-color: #8b9197;
}

/*
STARTING BLOCK
*/

.starter__container {
  padding: 96px 0;
  width: 80%;
  border-radius: 8px;
  background-color: rgb(100, 21, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.starter__heading {
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 35%;
  height: auto;
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

.start__btn {
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  background-color: #f56565;
  color: white;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin: 20px;
  z-index: 2;
}

.contact__btn {
  padding: 20px 40px;
  border-radius: 500px;
  border: 1px solid;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin: 20px;
  z-index: 2;
}

/* 

FOOTER 

*/

footer {
  padding-top: 96px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

.footer__columns {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer__column__title {
  text-align: left;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
  margin-left: 8px;
  text-align: left;
}

.footer__column--links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding: 10px;
  font-size: 14px;
  line-height: 1.8;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 40px;
  color: white;
}

.footer__logo img {
  width: 40px;
  height: 40px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.footer__copyright {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.social__icons {
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.social__icons i {
  color: white;
  transition: color 0.3s ease;
}

.social__icons i:hover {
  color: #6415ff;
}
